@use '../../styles/variables' as vars;

.send {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: vars.$color-lime;
  font-weight: 700;
  padding: 8px;
  border-radius: 50px;
  &:hover {
    opacity: 0.8;
  }
}

.clear {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: vars.$color-slate-700;
}
