@use '../../styles/variables' as vars;

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: vars.$color-lime;
  font-weight: 700;
  padding: 8px;
  border-radius: 50px;
  &:hover {
    opacity: 0.8;
  }
}
